EMAIL_FROM=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_ID=
FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
FLUTTERWAVE_HASH=FLWPUBK_TEST-fe6c08b6c79cec8f653d7b9d2ab4222e-X
FLUTTERWAVE_SECRET_KEY=FLWSECK_TEST-9dfa0376c9bc729df1744fc0def54722-X
GEMINI_API_KEY=
GROQ_API_KEY=
NEXT_PUBLIC_ACCESS_DOMAIN=
NEXT_PUBLIC_FLW_PUBLIC_KEY=
NEXT_PUBLIC_SALES_DOMAIN=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=
