EMAIL_FROM=
FIREBASE_CLIENT_EMAIL=
FIREBASE_DATABASE_ID=
FIREBASE_DATABASE_URL=
FIREBASE_PRIVATE_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_JSON=
FLUTTERWAVE_HASH=
FLUTTERWAVE_SECRET_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
NEXT_PUBLIC_ACCESS_DOMAIN=
NEXT_PUBLIC_FLW_PUBLIC_KEY=
NEXT_PUBLIC_SALES_DOMAIN=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPABASE_SERVICE_ROLE_KEY=